.szervezo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.szervnav{
    background-color: rgb(80, 100, 130);
    border-bottom: 1px solid rgb(189, 189, 189);
}

.szervnav .ni{
    background-color: rgb(87, 87, 124);
    width: 11%;
    text-align: center;
    color: white;
    border-radius: 10%;
}